:root {
  --game_dimention: 30;
  --cell_dimention: 10px;
  --grid_gap: calc(var(--cell_dimention)*0.3);
  --default_cel_color: #71bf48;
  --alive_cell_color: #ffffff;

}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background-color: rgb(243, 216, 171);
}

.container{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgb(203, 247, 133);
  border-radius: 10px;
  padding: 10px;
  width: calc(var(--game_dimention)*(var(--cell_dimention)+var(--grid_gap)));
  height: calc(var(--game_dimention)*(var(--cell_dimention)+var(--grid_gap)));

}

section{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;

  flex-direction: column;

}

h1 {
  color:#fafffd;
  letter-spacing: 4px;
  font-family:'Courier New', Courier, monospace;
  font-weight: bolder;
  margin: 50px;
  text-align: center;
}

.cell {
  width: var(--cell_dimention);
  height: var(--cell_dimention);
  background-color:var(--default_cel_color);
  border-radius: 2px;

}

#grid {
  display: grid;
  gap: var(--grid_gap);
  grid-template-columns: repeat(var(--game_dimention), var(--cell_dimention));
  grid-template-rows:repeat(var(--game_dimention), var(--cell_dimention));
}

.button-5{
  align-items: center;
  background-clip: padding-box;
  background-color:cornflowerblue;
  border: 5px solid transparent;
  border-radius: 2px;
  box-shadow: rgba( 0,0,0,0,0.03) 0 1px 3px 0;
  box-sizing: border-box;
  color:antiquewhite;
  cursor: pointer;
  display: inline-flex;
  font-family: 'Courier New', Courier, monospace;
  font-size: 16px;
  font-weight: bold;
  justify-content: center;
  line-height: 1.25;
  margin: 30px;
  min-height: 48px;
  padding: calc(0.9rem) calc(1.5rem);
  position: relative;
  text-decoration: none;
  transition: all 250ms;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: baseline;
  width: auto;
}

.button-5:hover, .button-5:focus{
  box-shadow: rgba( 0,0,0,0,0.03) 0 4px 12px;
}

.button-5:hover{
  transform: translateY(-1px);

}

.button-5:active{
  background-color: aqua;
  box-shadow: rgba( 0,0,0,0,0.06) 0 2px 4px;
  transform:translateY(0);

}

.active{
  background-color: rgb(255, 255, 255);
  
}

.active_btn{
  background-color: rgb(66, 249, 255);
  
}